<strong>Hello {{student}}!</strong><br />
<p>
    <h3>Welcome to GymPoint!</h3><br/>
    Your are now enrolled with us. <br/>
    Thans for purchasing the {{plan}} plan! <br/>
    </br>
    Your activities will start on {{startDate}} until {{endDate}}<br/>
    <small>We hope you enjoy our services :D</small>
</p>
